<header>
  <nav class="navbar navbar-dark" style="background-color: #369f9d;">
    <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive; font-size: 35px; padding-top: 0px;">Decision Maker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
