<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    </div>
    <section>
      <form action="/polls" method="POST">
          <div id="email-form">
            <label for='enter-email'>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email adress" id='enter-email'></textarea>
            <button id="email-button"class="subButton btn btn-primary" type="submit">Create Poll</button>
          </div>

          <div class="poll-question form-control">
            <textarea class="form-control" name="question" placeholder="Burning questions that need answering"></textarea>
          </div>
          <div id="options-container">

          </div>
          <input type="checkbox" name="anonymous" id="anonymous">
          <label for="anonymous">Anonymous Poll</label>
          <br>
          <button id="new-option" class="btn btn-primary">Add Another Option</button>
          <input type="submit" class="btn btn-primary" value="Create Poll">

      </form>
    </section>

    <script>

      $(document).ready(() => {

        const insertOption = function (optionsCount) {
          $('#options-container').append($(`
            <div class="option-container">
              <input type="text" name="title${optionsCount}" class="form-control" placeholder="Title">
              <input type="text" name="description${optionsCount}" class="form-control" placeholder="description">
              <button class="btn btn-primary remove-option">Remove Option</button
            </div>
          `)
          )
        }

        let optionsCount = 0;

        //render 2 instances of options on page load, assuming you need to pick between 2 options in a decision maker app
        for (let i = 0; i < 2; i++) {
          insertOption(optionsCount);
          optionsCount +=1;
        }
        $("#email-button").on('click', function() {
          event.preventDefault();

          //grabs email input field and appends a
          $(this).parents().children('.alert').remove();

          let emailInput = $(this).parent().children('input')
          const validEmail = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(emailInput.val())

          if(!emailInput.val()) {
            $(this).parent().children('input').after('<div class="alert alert-danger">Email address is required</div>')
          } else if (!validEmail) {

            $(this).parent().children('input').after('<div class="alert alert-danger">Not a Valid Email Address</div>')
          } else if (validEmail) {
            $(this).parent().hide();
          }

        })

        $('#new-option').on('click', (event) => {
          event.preventDefault();
          insertOption(optionsCount);
          optionsCount += 1;
        })

        $('#options-container').on('click', ".option-container button", function(event) {
          event.preventDefault();
          // if valid email address the email form will be hidden
          //we can also add a class here to hdie it with css
          $(this).parent().remove();
        });

      });


    </script>
</body>

</html>
